<header class="header">
  <div class="header__wrapper">
    <a href="{{site.baseurl}}/index.html">
      <img class="header__logo" src="{{site.baseurl}}/assets/img/Logo.png"
        alt="logo hexagone sur fond vert avec l'inscription DO plus les lettre O et G (DOOG) en dehors du hexagone">
    </a>
    <nav class="header__navbar">
      {% for link in site.data.navigation %}
      <a class="header__links" href="{{baseurl}}/{{link.url}}">{{link.title}}</a>
      {% endfor %}
    </nav>
    <a href="#" class="btn btn--big">
      <img class="btn__img" src="{{baseurl}}/assets/img/profilIcon.png" alt="icon personnage">
      Se connecter
    </a>
  </div>
</header>