<header class="header">
  <div class="header__wrapper">
      <img class="header__logo" src="./public/img/Logo.png"
          alt="logo hexagone sur fond vert avec l'inscription DO plus les lettre O et G (DOOG) en dehors du hexagone">
      <nav class="header__navbar">
          <a class="header__links" href="index.html">Accueil</a>
          <a class="header__links" href="nous.html">Nous</a>
          <a class="header__links" href="actualités.html">Actualités</a>
          <a class="header__links" href="adoption.html">Adoption</a>
          <a class="header__links" href="contact.html">Contact</a>
      </nav>
      <a href="#" class="btn btn--big">
          <img class="btn__img" src="./public/img/profilIcon.png" alt="icon personnage">
          Se connecter
      </a>
  </div>
</header>