
.welcome {
  height: 100vh;
  background-image: url(../img/homebackground.png);
  background-position: center center;
  background-size: cover;

  &::before {
      content: "";
      position: absolute;
      top: 0; 
      bottom: 0; 
      left: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.192);
  }

  &__wrapper {
      @extend .blockCenter;
      height: 100%;
      display: flex;
      align-items: center;
      position: relative;
      box-sizing: border-box;
  }

  &__content {
      color: white;
      max-width: 90%;
  }

  &__title {
      margin: 0;
      font-family: "Baloo Bhai";
      font-size: 3rem;
      text-shadow: 0 0 10px black;
  }

  &__text {
      margin: 0;
      font-size: 1.3rem;
      margin-bottom: 15px;
      font-style: italic;
      text-shadow: 0 0 20px black;
  }

  &__btn {
      margin-right: 10px;
  }

  &__pointsWrapper {
      position: absolute;
      right: 24px;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  }

  &__point {
      display: inline-block;
      height: 9px;
      width: 9px;
      margin: 2vh 0;
      border-radius: 10px;
      border: 5px solid rgba(255, 255, 255, 0.678);
      cursor: pointer;

      &--active {
          @extend .welcome__point;
          background-color: rgb(255, 255, 255);
          border-color: transparent;
      }
  }
}

.adoptionSearch {
  position: absolute;
  width: $width;
  max-width: 100%;
  height: 143px;
  box-sizing: border-box;
  top: 100vh;
  left: 50%;
  transform: translate(-50%,-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;

  background-color: $white;
  box-shadow: $boxShadow1;
  border-radius: 14px;

  &__title {
      font-family: "Baloo Bhai";
      font-weight: normal;
  }

  &__btn {
      height: 30px;
      padding: 24px 40px;
      cursor: pointer;
  }

  &__choiceGroup {
      display: flex;
      flex-direction: column;
  }

  &__label {
      margin-bottom: 5px;
      font-style: italic;
      font-weight: lighter;
  }

  &__select {
      font-size: $fontSize1;
      border: none;
      appearance: none;
      padding-right: 20px;
      background-image: url("../img/down_arrow.svg");
      background-repeat: no-repeat;
      background-size: 16px;
      background-position: right;
      width: 100%;
      cursor: pointer;
  }

  // Variations

  &--searchResult {
      position: static;
      transform: translate(0);
      margin: auto;
      margin-top: 150px;
  }
}

.newsOverview {
  min-height: 200px;
  background-image: url("../img/path.svg");
  background-repeat: no-repeat;
  background-size: 900px;
  background-position: left top;
  margin-top: -1px;

  &__wrapper {
      @extend .blockCenter;
      padding-top: 120px!important;
      padding-bottom: 120px!important;
  }

  &__title {
      color: white;
  }

  &__cards {
      display: flex;
      margin: -20px;
      flex-wrap: wrap;
  }

  &__card {
      background-color: white;
      margin: 20px;
      width: 315px;
      border-radius: 14px;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);
      transition-duration: .1s;
      display: flex;
      flex-direction: column;
  }

  &__cardTitle {
      margin: 30px 10px;
      text-align: center;
      line-height: 1.4rem;
      flex: 1;
      display: flex;
      justify-content: center;
  }

  &__img {
      background-image: url("../img/articlebackground.png");
      background-position: center center;
      background-size: cover;
      height: 165px;
      min-height: 165px;
      border-radius: 14px 14px;
      /*box-shadow: 0 3px 6px rgba(0, 0, 0, 0.24);*/
  }

  &__cardBtn {
      margin: 10px;
      margin-top: 0;
      width: calc( 100% - 20px );
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      cursor: pointer;
      transition-duration: .1s;
  }

  &__cardBtn:hover {
      opacity: .95;
  }
  &__cardBtn:active {
      transform: scale(.98);
  }

}